<div>
    <h2><a href="/openfolder">Folder Name</a></h2>
    <h3> 5 videos</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, corrupti mollitia praesentium molestias eveniet eaque sit distinctio ea quam, perferendis, soluta harum nisi. Dignissimos eveniet inventore facere nihil soluta ea.</p>
</div>