<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        
            <h1>VideoVault</h1>
            <div class ="navBar">
               <a class="home" href="/home">
               <i class="fa-solid fa-house fa-bounce"></i>
               </a>
                <a class="Upload" href="/upload">
               <i class="fa-solid fa-upload fa-bounce"></i>
               </a>
                <a class="Profile" href="/profile">
             <i class="fa-solid fa-user fa-flip"></i>
               </a>
                     <a class="Search" href="/search">
            <i class="fa-solid fa-magnifying-glass fa-shake"></i>
               </a>
     
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>