<section class="dashboard">
    <div class="greeting">
        <h2>Hello</h2>
    </div>
    <div class="favorites">
        <h3>Your Favorites</h3>
        <div class="favorites-list">
            <div class="favorite-item">
                <img src="path/to/favorite-image-1.jpg" alt="Favorite 1">
                <span>Favorite 1</span>
            </div>
            <div class="favorite-item">
                <img src="path/to/favorite-image-2.jpg" alt="Favorite 2">
                <span>Favorite 2</span>
            </div>
            <div class="favorite-item">
                <img src="path/to/favorite-image-3.jpg" alt="Favorite 3">
                <span>Favorite 3</span>
            </div>
        </div>
    </div>
    <div class="categories">
        <h3>Categories</h3>
        <div class="category-list">
            {{#each folders as |folder| }}
            <div class="category-item">
                <img src="path/to/category-image-3.jpg" alt="Documentaries">
                <span>Documentaries</span>
            </div>
            {{/each}}
        </div>
    </div>
</section>
