<section class="dashboard">
    <div class="greeting">
        <h2>Welcome!</h2>
    </div>
    {{!-- <div class="favorites">
        <h3>Your Favorites</h3>
        <div class="favorites-list">
            <div class="favorite-item">
                <img src="path/to/favorite-image-1.jpg" alt="Favorite 1">
                <span>Favorite 1</span>
            </div>
        </div>
    </div> --}}
    <div class="categories">
        <h3>Folders</h3>
        <div class="category-list">
            {{#each folders as |folder| }}
            <div class="category-item">
                <h2>
                    <a href="/folder/{{folder.folderId}}">{{folder.folderName}}</a>
                </h2>
            </div>
            {{/each}}
        </div>
    </div>
</section>
