<div>
    <h2>This is the homepage.</h2>
    {{>folder}}
    {{>folder}}
    {{>folder}}
    {{>folder}}
    {{>folder}}
    {{>folder}}
    {{>folder}}
    {{>folder}}
    {{>folder}}
    {{>folder}}
</div>