<div>
    <h2>Items in {{folder.folderName}}:</h2>
    <ul>
        {{#each folder.mediaItems as |item|}}
        <li>
            <a href="/item/{{item.itemId}}">{{item.itemName}}</a> - {{item.itemUrl}}
        </li>
        {{/each}}
    </ul>
</div>