<section class="folder-content">
    <header class="folder-header">
        <h2>Items in {{folder.folderName}}:</h2>
    </header>
    <div class="folder-items">
        {{#each folder.mediaItems as |item|}}
            <div class="folder-item">
                <h2><a href="/item/{{item.itemId}}">{{item.itemName}}</a> - {{item.itemUrl}}</h2>
            </div>
        {{/each}}
    </div>
</section>
