<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <section class="profile-container">
        <div class="profile-header">
            <ion-icon name="person-circle" class="profile-picture"></ion-icon>
            <h1>Account Settings</h1>
            <p class="username">Username</p>
        </div>
        <div class="profile-actions">
            <button id="change-password">Change Password</button>
            <button id="logout-button">Logout</button>
        </div>
    </section>
    <script src="/js/authHandlers.js"></script>
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
