<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/login.css">  
</head>
<body>
    <div class="login-container"> 
        <h2>Sign Up</h2>
        <form id="signup-form">
            <div>
                <label for="username">User Name:</label>
                <input type="text" id="username" placeholder="Enter your username" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" placeholder="Enter your email" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your password" />
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
         <!-- Modal for displaying credential input errors -->
        <div id="error-modal" class="modal">
            <div class="modal-content">
                <span class="close-button">x</span>
                <p id="error-message"><!-- Error message here --></p>
            </div>
        </div>
    </div>
    <script src="/js/authHandlers.js"></script>
    <script src="/js/modals.js"></script>
</body>
</html>
