<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/css/upload.css"> 
</head>
<body>
    <div class="upload-container">
        <h2>Upload</h2>
        <form id="upload-form">
            <div class="form-group">
                <select id="type" class="form-control">
                    <option>Type (local image - gray url/name or URL - gray)</option>
                </select>
            </div>
                        <div class="form-group">
                <label for="location">Location:</label>
                <select id="location" class="form-control">
                    <option disabled selected>Choose a location</option>
                    <option value="folder1">Folder 1</option>
                    <option value="folder2">Folder 2</option>
                    <option value="folder3">Folder 3</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="folder-name" class="form-control" placeholder="Folder Name (If new folder/ grayed out if folder" />
            </div>
            <div class="form-group">
                <input type="text" id="url" class="form-control" placeholder="URL" />
            </div>
            <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn-upload">
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                    Upload
                </button>
            </div>
        </form>
    </div>

    <script src="/js/authHandlers.js"></script>
    <script src="/js/modals.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
