/* Josh W Comeau Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
/* Additional Global Styles */
body {
    background-color: rgb(28 25 23);
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

 main {
    max-width: 275px;
    padding-top: 50px;
}

.main-container {
    max-width: 1200px; 
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    position: relative; 
    padding-bottom: 40px;
}
/* Login */
.login-container {
    min-height: 300px;
}
/* Modals */
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    max-width: 280px;
}

.modal-content {
    padding: 1rem;
    border-radius: 0.25rem;
    text-align: center;
}

.close-button {
    float: right;
    font-size: 28px;
    cursor: pointer;
    margin-left: 0.25rem;
}

@media (min-width: 768px) {
    .main-container {
        margin-left: calc(250px + 10%);
        width: calc(100% - 250px - 12%); 
    }
}